
.courses-container {
    position: absolute;
    top: 0;
    padding-left: 20px;
    bottom: 0;
    left: 0;
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.refresh-data-btn {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    color: #fff;
}

.courses-search-box {
  width: 100%;
  margin-top: 20px;
  padding: 3px;
  /* height: 20px; */
  transition-duration: 0.3s;
}
.courses-list {
    margin-top: 20px;
    flex: 1;
    display: block;
    overflow: auto;
    background-color: #ddd;
    padding: 10px;
}
.search-courses-list {
    /* flex: 1; */
    height: 200px;
    border: 1px solid #999;
    display: block;
    overflow: auto;
}

.course-item {
    width: 100%;
    padding: 5px;
    transition-duration: 100ms;
    cursor: pointer;
}
.course-item:hover{
}

.title-course-item {
    background-color: #9bde9b;
    width: 100%;
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid #666666;
}

.user-course-item {
    margin-bottom: 10px;
}

.user-course-item:hover {
}

.section-item{
    margin-top: 10px;
}

.section-item-remove {
    background-color: #bbb;
}
.section-item-remove:hover {
    background-color: #999;
}

.section-item-selected {
    border: 4px solid #00A0AA;
}

.back-button {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    width: 100%;
    vertical-align: middle;
    text-align: left;
    transition-duration: 100ms;
    cursor: pointer;
    user-select: none;
}

.action-button {
    width: 100px;
    border: none;
    color: white;
    width: 100%;
}

input[type=search]{
    margin-left: 30px;
    border: 2px solid dimgray;
    border-radius: 2px;
}

@media screen and (max-width: 720px) {
    .courses-container {
        position: relative;
        position: inline;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
}
