* {
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
}

body {
  font-family: 'Quattrocento Sans 27px', sans-serif;
  padding-left:60px;}

h1 {
    margin: 10px 0px;
}

h2 {
    margin: 5px 0px;
}

h3 {
    margin: 5px 0px;
}

h4 {
    margin: 5px 0px;
}

p {
    margin: 1px 0px;
}

button {
  border: none;
  padding: 0px;
  margin: 0px;
}

.navbar-pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250px; }

.navbar-container {
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0
}

.page-container {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
}

.page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    /* margin: auto; */
    background: #fff;
}

.primary, .primary-hover:hover {
    color: #00A0AA; }

.primary-bg, .primary-bg-hover:hover{
  background: #00A0AA; }

.accent, .accent-hover:hover {
  color: #2A7486; }

.accent-bg, .accent-bg-hover:hover {
  background: #2A7486; }

.grey, .grey-hover:hover {
  color: #0c3749; }

.grey-bg, .grey-bg-hover:hover {
  background: #0c3749; }

.hide{
  display: none;
}

.text-on-primary, .text-on-primary-hover:hover{
  color: white; }

.padding-b {
  padding: 25px; }

.padding-m {
  padding: 15px; }

.padding-s {
  padding: 5px; }

.padding-v-b {
  padding-top: 25px;
  padding-bottom: 25px; }

.padding-v-m {
  padding-top: 15px;
  padding-bottom: 15px; }

.padding-v-s {
  padding-top: 5px;
  padding-bottom: 5px; }

.padding-w-b {
  padding-left: 25px;
  padding-right: 25px; }

.padding-w-m {
  padding-left: 15px;
  padding-right: 15px; }

.padding-w-s {
  padding-left: 5px;
  padding-right: 5px; }

.margin-b {
  margin: 25px; }

.margin-m {
  margin: 15px; }

.margin-s {
  margin: 5px; }

.margin-v-b {
  margin: 25px auto; }

.margin-v-m {
  margin: 15px auto; }

.margin-v-s {
  margin: 5px auto; }

.no-decor {
    text-decoration: none;
}

.no-decor:hover {
    text-decoration: none;
}

.no-decor:link {
    text-decoration: none;
}

.text-b{
  font-size: 50px;
}
.text-m{
  font-size: 22px;
}
.text-s{
  font-size: 10px;
}
.fill {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.fill-w {
  width: 100%;
  left: 0;
  right: 0; }

.fill-v {
  height: 100%;
  top: 0;
  bottom: 0; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto; }

.center-text {
  text-align: center;
  line-height: 1;
}

.scrollable {
    overflow: auto;
}

.center-items {
  align-items: center; }

.circle {
  padding: 10px;
  border-radius: 50%; }

.opacity-half-hover {
  opacity: 0;
  transition-duration: 1s; }

.opacity-half-hover:hover {
  opacity: 0.5; }

.opacity-hover {
  opacity: 0;
  transition-duration: 1s; }

.opacity-hover:hover {
  opacity: 1; }

.none {
  margin: 0;
  border: none;
  padding: 0;
  outline: none; }

.none-m {
  margin: 0; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.top {
  top: 0; }

.bottom {
  bottom: 0; }

.left {
  left: 0; }

.right {
  right: 0; }

.clear {
  clear: both; }

.hidden {
    display: none;
}

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.show-border {
  border-color: #000;
  border-width: medium;
  border-style: dashed;
}

.round {
    border-radius: 50%;
}

.calendar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.calendar {
    margin: auto;
    flex: 1;
}

@media screen and (max-width: 720px) {
    .calendar-container {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        display: flex;
        justify-content: space-around;
    }
}


@media screen and (max-width: 500px) {

.navbar-container{
  height: 160px;
  width: 100%;
}

.page-container {
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
}

}
