/*
div {
  margin-left: 30px;
}
*/

.top-margin {
    margin-top: auto;
}

.bottom-margin {
    margin-bottom: auto;
}

.huge-text{
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.login-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}

.fb-login{
    width: 100%;
    text-align: center;
}

.fb-login-button{
    border: 1px solid #999;
    margin: auto auto;
}
