<div class="accent-bg login-container">
  <h1 id="login-text" class="text-on-primary margin-b huge-text">Loading ...</h1>
  <br></br>
  <div id="fb-login-btn" class="fb-login hidden">
    <div
      class="fb-login-button"
      scope="user_friends"
      data-max-rows="1"
      data-size="large"
      data-button-type="continue_with"
      data-show-faces="false"
      data-auto-logout-link="false"
      data-use-continue-as="true"
      onlogin="login.ifLoggedIn(login.gotoCourses)">
    </div>
  </div>

  <!-- <div class="fill-w margin-v-b"> -->
    <!-- <button class="text-m padding-m primary-bg grey-bg-hover navbar-link no-decor text-on-primary text-on-primary-hover center" onclick="navbar.showPage('friends');" href="#">Bypass Login</button> -->
  <!-- </div> -->
</div>

<div id="fb-root"></div>
