
<div class="navbar">
  <div>
    <a id="navbar-login" class="navbar-item center padding-m fill no-decor text-on-primary" onclick="showPage('login');" href="#"> Login</a>
  </div>
  <div>
    <a id="navbar-courses" class="navbar-item center padding-m fill no-decor text-on-primary" onclick="showPage('courses');" href="#"> Courses</a>
  </div>
  <div>
    <a id="navbar-friends" class="navbar-item center padding-m fill no-decor text-on-primary" onclick="showPage('friends');" href="#"> Friends</a>
  </div>
</div>
