<div class="scrollable fill accent-bg text-on-primary padding-b">
  <h1 class="text-b none semi-huge-text">About</h1>
  <br>
  <p class="text-m none">
  ShareSchedule is a web application designed to allow students at the University of Toronto to partially automate course planning process and conflict resolution. Although there exist plenty of services that permit students to plan out their timetables
  throughout the year, none of them use the power of social media to allow students to obtain the full University
  Experience by allowing them to maximize courses taken with friends.
  </p>
  <br>
  <p class="text-m none">
  With ShareSchedule, this is no longer an issue. Students may plan their own timetables in accordance with their
  own needs, in additon to the timetables of their friends so that they may obtain the most enjoyable, and productive
  university experience.
  </p>
  <br>
  <h1>Usage</h1>
    <p class="text-m none">
    - Simply search for and select a course by its course code in the search bar, and it will be placed in the list of selected courses.
    <br>
    - To attempt to switch section for a course, click on the course name in the list of selected courses, then choose a section.
    <br>
    - The application will attempt to generate the best (most similar to current) conflict-free schedule and apply it.
    <br>
    - If clicking on a section has no effect, this means there are no conflict-free schedule with that section.
    <br>
    - If you are not logged in, click the Log In button and sign in with your Facebook account.
    <br>
    - Once you have signed in, the Friends page will become available. Click on a friend to view their schedule.
    <br>
    - Courses that you are taking, but your friends have a different section, will be highlighted with the same color as the course, on the calendar.
    </p>
    
</div>
