.friends-container {
    position: absolute;
    top: 10;
    bottom: 10;
    left: 0;
    width: 300px;
    padding: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

@media screen and (max-width: 720px) {
    .friends-container {
        position: relative;
        position: inline;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
}
