.friends-container {
    position: absolute;
    top: 0;
    padding-left: 20px;
    bottom: 0;
    padding-bottom: 20px;
    left: 0;
    width: 300px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.friend-image {
    vertical-align: middle;
    height: 50px;
    width: 50px;
}

.friends-list {
    padding: 10px;
    height: 100%;
    background-color: #ddd;
    overflow: auto;
}

.vertical-margins {
    margin-top: 20px;
    margin-bottom: 20px;
}

.friend-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
}

.flex-item {
    flex: 1;
}

@media screen and (max-width: 720px) {
    .friends-container {
        position: relative;
        position: inline;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
}
